<?xml version="1.0" encoding="utf-8" ?>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="D:\AKKI_DEV\RND\CoreNLogText\CoreNLogText\LOG\InnerLog.txt">  
    <extensions>  
        <add assembly="NLog.Extended" />  
    </extensions>  
     
    <targets>  
        <target name="logfile" xsi:type="File" fileName="${environment:LOCALAPPDATA}/MyApp/logs/PokemonShakespeareTranslatorAPI-${processid}.log.txt" layout="${longdate} ${level:uppercase=true} ${message}"/>  
    </targets>  
     
    <rules>  
        <logger name="*" minlevel="Debug" writeTo="logfile" />  
    </rules>  
</nlog>  




"Thee did giveth mr. Tim a hearty meal,  but unfortunately what he did doth englut did maketh him kicketh the bucket."
"Thee did giveth mr. Tim a hearty meal,  but unfortunately what he did doth englut did maketh him kicketh the bucket."

Microsoft.VisualStudio.TestTools.UnitTesting.AssertFailedException
  HResult=0x80131500
Thee did giveth mr.Tim a hearty meal, but unfortunately what he did doth englut did maketh him kicketh the bucket.
Thee did giveth mr. Tim a hearty meal,  but unfortunately what he did doth englut did maketh him kicketh the bucket.>. 
  Source=Microsoft.VisualStudio.TestPlatform.TestFramework
  StackTrace:
   at Microsoft.VisualStudio.TestTools.UnitTesting.Assert.HandleFail(String assertionName, String message, Object[] parameters)
   at Microsoft.VisualStudio.TestTools.UnitTesting.Assert.AreEqual[T](T expected, T actual, String message, Object[] parameters)
   at Microsoft.VisualStudio.TestTools.UnitTesting.Assert.AreEqual[T](T expected, T actual)
   at PokemonShakespeareTranslatorAPITest.ShakespeareTranslationTest.TestGetShakespereanTranslation() in C:\Users\v.gambale\source\repos\PokemonShakespeareTranslatorAPITest\ShakespeareTranslationTest.cs:line 14


docker run --publish 8000:8080 --detach --name bb bulletinboard:1.0




docker build -f Dockerfile . -t virasana/stweb
docker run -it --rm -p "5500:80" virasana/stweb

docker rmi Image Image
